<h1>Gosper's Glider Gun in The Game of Life</h1>
<p><a href="/">HOME</a></p>
<p><a href="/randomize">RANDOMIZED</a></p>
<div id="content">
	<%w_counter = 0%>
	<%h_counter = 0%>
	
	<ul>
	<%while w_counter < 50 do%>
		<li>
		<%while h_counter < 50 do%>
			<div class="<%= @my_board[w_counter][h_counter].age == 0 ? "black" : "red" %>">.</div>
			<%h_counter += 1 %>
		<%end %>
		<%h_counter = 0 %>	
		<%w_counter +=1 %>
		</li>
	<%end%>
	</ul>
</div>