<h1>The Game of Life</h1>
<div class="content">     
        <p>I made a&nbsp;
                <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" title="Game of Life Wikipedia">Game of Life</a>
                &nbsp;and I'm so happy! There are two options to watch my game: 1) hardcoded &nbsp;
                <a href="http://en.wikipedia.org/wiki/Gun_(cellular_automaton)">Gosper's Glider Gun</a>
                &nbsp;or 2) randomized number and location of "alive" cells on a fifty-cell by fifty-cell grid. Code
                <a href="https://github.com/kthffmn/game_of_life" title="kthffmn's github link to game of life">here</a>. Challenge at 
                <a href="http://flatironschool-bk.herokuapp.com/" title="Flatiron BK000 Fellows">Flatiron BK000</a>.
        </p>
        <br></br>
        <p> Select your preference: </p>
</div>

<div class="footer">
        <a href="/glider-gun"> Glider Gun </a>
        <a href="/randomize"> Randomized </a>
</div>